Repository pymeasure/pymeasure, pull requests merged in 2024-01, with the labels that each got.

#1016 Fix exception if loading result file with an empty parameter
  AUTHORS.txt
  pymeasure/experiment/parameters.py
  pymeasure/experiment/results.py
Labels: bug, automation

#1021 Link Keysight, Agilent, and HP documentation pages.
  docs/api/instruments/agilent/index.rst
  docs/api/instruments/hp/index.rst
  docs/api/instruments/keysight/index.rst
Labels: documentation

#1024 Add next_error property to SCPI instruments
  CHANGES.rst
  pymeasure/instruments/hp/hp3437A.py
  pymeasure/instruments/hp/hp8116a.py
  pymeasure/instruments/hp/hpsystempsu.py
  pymeasure/instruments/instrument.py
  pymeasure/instruments/keithley/keithley2260B.py
  pymeasure/instruments/keithley/keithley2400.py
  pymeasure/instruments/keithley/keithley2450.py
  pymeasure/instruments/keithley/keithley2600.py
  pymeasure/instruments/keithley/keithley2700.py
  pymeasure/instruments/keithley/keithley6221.py
  pymeasure/instruments/keithley/keithley6517b.py
  pymeasure/instruments/texio/texioPSW360L30.py
  tests/instruments/keithley/test_keithley2400.py
Labels: enhancement, instrument

#1018 Fix property docstrings
  pymeasure/instruments/advantest/advantestR3767CG.py
  pymeasure/instruments/agilent/agilent34410A.py
  pymeasure/instruments/ami/ami430.py
  pymeasure/instruments/anapico/apsin12G.py
  pymeasure/instruments/andeenhagerling/ah2500a.py
  pymeasure/instruments/andeenhagerling/ah2700a.py
  pymeasure/instruments/anritsu/anritsuMG3692C.py
  pymeasure/instruments/anritsu/anritsuMS464xB.py
  pymeasure/instruments/anritsu/anritsuMS9710C.py
  pymeasure/instruments/anritsu/anritsuMS9740A.py
  pymeasure/instruments/danfysik/danfysik8500.py
  pymeasure/instruments/hp/hp33120A.py
  pymeasure/instruments/keithley/keithley2260B.py
  pymeasure/instruments/keysight/keysightN5767A.py
  pymeasure/instruments/keysight/keysightN7776C.py
  pymeasure/instruments/lakeshore/lakeshore425.py
  pymeasure/instruments/mksinst/mks937b.py
  pymeasure/instruments/razorbill/razorbillRP100.py
  pymeasure/instruments/rohdeschwarz/hmp.py
  pymeasure/instruments/siglenttechnologies/siglent_spdbase.py
  pymeasure/instruments/tektronix/afg3152c.py
  pymeasure/instruments/thermotron/thermotron3800.py
  pymeasure/instruments/velleman/velleman_k8090.py
  pymeasure/instruments/yokogawa/yokogawa7651.py
  pymeasure/instruments/yokogawa/yokogawags200.py
  tests/instruments/test_all_instruments.py
Labels: documentation, instrument

#987 Fix the checksums of the hcp TC038D tests.
  tests/instruments/hcp/test_tc038d.py
Labels: instrument
